<?xml version="1.0" encoding="utf-8" ?>
<Plugin>
  <Name>Starsea.Plugin.Test2</Name>
  <Version>1.0</Version>
  <Author>starsea</Author>
  <Description>这是一个测试的插件2</Description>
  <UI>
    <Ribbon>
      <Tab id="" index="1" text="插件tab2">
        <Bar id="" index="1" text="codefirst" >
          <Item id="1" index="1" type="button"  text="添加数据"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest1"  windowtype="main" ></Item>
          <Item id="2" index="2" type="button"  text="查询"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest2"  windowtype="main" ></Item>
          <Item id="3" index="3" type="button"  text="sql查询"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest3"  windowtype="main" ></Item>
          <Item id="4" index="4" type="button"  text="模型状态"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest4"  windowtype="main" ></Item>
          <Item id="4" index="5" type="button"  text="数据库变动"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest5"  windowtype="main" ></Item>
          <Item id="4" index="6" type="button"  text="属性验证"  image="Menu/logo.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest6"  windowtype="main" ></Item>
        </Bar>
        <Bar id="" index="1" text="LINQ" >
          <Item id="1" index="1" type="button"  text="扩展对象"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest7"  windowtype="main" ></Item>
          <Item id="2" index="2" type="button"  text="查询"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest8"  windowtype="main" ></Item>
          <Item id="3" index="3" type="button"  text="sql查询"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest9"  windowtype="main" ></Item>
          <Item id="4" index="4" type="button"  text="模型状态"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest10"  windowtype="main" ></Item>
          <Item id="4" index="5" type="button"  text="数据库变动"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest11"  windowtype="main" ></Item>
          <Item id="4" index="6" type="button"  text="属性验证"  image="Menu/Document.png"    dll="Starsea.Plugin.Test2.dll"  class="Starsea.Plugin.Test2.Test2"   func="funcTest12"  windowtype="main" ></Item>
        </Bar>
      </Tab>
    </Ribbon>
  </UI>
  <Components>

  </Components>

</Plugin>
