<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="QuickDevEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QuickDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model2" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Starsea.DB.Model2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="Model3" connectionString="data source=.;initial catalog=QuickDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>